

<div>
  <form [formGroup]="formBase" class="container" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name">
    <h6 *ngIf="formBase.controls['name'].invalid && formBase.controls['name'].touched ">Name is required</h6>

    <label for="username">Username</label>
    <input type="text" formControlName="username" id="username">
    <h6 *ngIf="formBase.controls['username'].invalid && formBase.controls['username'].touched ">Usernmae is required</h6>


    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email">
    <h6 *ngIf="formBase.controls['email'].invalid && formBase.controls['email'].touched ">Email is required</h6>

    <button id="btn" type="submit" [disabled]="!formBase.valid">Submit</button>
  </form>
</div>

