.container{
  display: flex;
  flex-direction: column;

  background-color: rgb(223, 223, 207);
  border-radius: 5%;

  justify-content: space-between;

  margin-top: 10%;
  height: auto;
  padding: 24px;


  input{
    margin-bottom: 5%;
  }

  h6{
    color:red;
    font-size: 12px;
    font-weight: 500;

    margin-top: -5%;
  }

  #btn{
    margin-top: 5%;
  }
}
