<div class="container">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>@{{userName}}</mat-card-title>
      <mat-card-subtitle>{{name}}</mat-card-subtitle>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</div>

