
<div class="container">
  <select name="options" id="option" (change)="fetchData($event.target)">

    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3" [defaultSelected]="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <app-information-card name = {{user?.name}}
                      userName = {{user?.username}}
                      email={{user?.email}}></app-information-card>
</div>
