
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;


  #option{
    width: 100%;
    padding: 10px 50px 10px 50px;
    margin-top: 20%;
  }
}
